language: ruby
rvm: 
  - 2.7.3
dist: trusty
cache:
  - bundler
  - yarn
services:
  - postgresql
script:
 — bundle install — jobs=3 — retry=3
 — bundle exec rake db:create
 — bundle exec rake db:migrate
 — bundle exec rspec