<div class="topnav">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <h1 id="tableheader"><%= table_header %></h1>
    <div id="emptydiv"></div>
    <h1 class="classnotestitle">ClassNotes</h1>
  </div>