<div class="topnav">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <h1 id="dynamic-title"><%= table_header %><%= render 'shared/tagcloud' %></h1>
    <div id="emptydiv"></div>
    <h1 class="classnotestitle">ClassNotes</h1>
    <div class="title-replacement"></div>
  </div>