/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'BiotifBlack';
  src: url('app/assets/fonts/Biotif-Black.ttf');
}

@font-face {
  font-family: 'BiotifBold';
  src: url('app/assets/fonts/Biotif-Bold.ttf');
}

@font-face {
  font-family: 'BiotifBook';
  src: url('app/assets/fonts/Biotif-Book.ttf');
}

table {
  width: 90vw !important;
  margin: 0 auto !important;
  background-color: white;
}

body {
  height: 100vh;
}

td> {
  background-color: white !important;
}


.classnoteslogo {
  font-family: 'BiotifBlack' !important;
  font-size: 5em;
  color: black;
}

#tableheader {
  font-size: 3em;
  position: relative;
  display: block;
  margin: 0 auto;
}

.classnotestitle {
  font-family: 'BiotifBlack' !important;
  font-size: 2.3em;
  color: #CBCBCB;
  position: relative;
  right: 1vw;
  margin: 0;
}

.field,
a,
input {
  font-family: 'BiotifBook' !important;
}

a {}

h1,
th {
  font-family: 'BiotifBlack' !important;
}

th>h1 {
  background-color: white;
  color: black;

}

h2 {
  font-family: 'BiotifBold' !important;
}

.notetitle {
  font-family: 'BiotifBold' !important;
  font-size: 1.5em;
}

td {
  font-family: 'BiotifBook' !important;
  vertical-align: middle;

}

h1 {
  color: #FA7F1C;
}

.d-sm-inline {
  font-family: 'BiotifBlack' !important;
  color: black !important;
}

.d-sm-inline .px-0:hover {
  color: black;
  background-color: none !important;
}

.d-sm-inline .px-0 {
  color: #FA7F1C;
}

.form-control {
  margin: 20px;
}

/* The sidebar menu */
.sidebar {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FCF2EB;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bottom-links {
  position: relative;
  bottom: 0;
  padding-bottom: 2vh;
}

.nav-top-links {
  position: relative;
  top: 0;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #bd2727;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: black;
  padding: 10px;
  border: none;
  background: none;
  padding-top: 5px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 10px;
  padding-top: 0 !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.sign-up-page-body {
  width: 100vw;
  height: 100vh;
  background-color: #FCF2EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.user-box {
  width: 40vw;
  height: auto;
}

.note-form-wrapper {
  width: 80vw;
  margin: 0 auto;
  background-color: white;
}

.form_headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form_headers>* {
  padding: 20px;
  text-align: left;
  width: 25%;
}

.form_headers>*>input {
  width: 100%;
  margin: 0;
  min-height: 5vh;
  font-family: 'BiotifBlack' !important;
  font-size: 1.6em;
}

label {
  font-family: 'BiotifBold';
  color: #cacaca;
  font-size: 1.5em;
}



.form_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_group>* {
  padding: 20px;
  text-align: left;
  width: 50%;
}

.form_group>*>textarea {
  margin: 0;
  min-height: 20vh;
  font-family: 'BiotifBook' !important;
  font-size: 1.1em;
}

.tag_list_input {
  padding: 20px;
  text-align: left;
  width: 100%;
}

.tag_list_input>*>input {
  margin: 0;
  min-height: 5vh;
  font-family: 'BiotifBold' !important;
  font-size: 1.2em;
}

#note_note_date {
  border: none;
  flex-direction: row-reverse;
  padding: 5px;
  font-size: 1.5em;
  min-height: 10vh;
  font-family: 'BiotifBold' !important;
}

.topnav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-top: 1vh;
  width: 100%;
  height: 10vh;
  margin-bottom: 3vh;
  background-image: url("noise.png");
  background-size: 100px 100px;
}