/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'BiotifBlack';
  src: asset-url('Biotif-Black.ttf');
}

@font-face {
  font-family: 'BiotifBold';
  src: asset-url('Biotif-Bold.ttf');
}

@font-face {
  font-family: 'BiotifBook';
  src: asset-url('Biotif-Book.ttf');
}

table {
  margin-top: 1vh;
  margin-right: 5vw;
}

.table-vert-line {
  border-right: 1px solid rgb(214, 214, 214);
}

th {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}


@media only screen and (min-device-width : 480px) {
table {
  width: 90vw !important;
  margin: 0 auto !important;
  background-color: white;
}
}

body {
  height: 100vh;
}

td> {
  background-color: white !important;
}

.classnoteslogo {
  font-family: 'BiotifBlack' !important;
  font-size: 4em;
  color: black;
}

@media only screen and (min-device-width : 480px) {
.classnoteslogo {
  font-family: 'BiotifBlack' !important;
  font-size: 5em;
  color: black;
}
}

ul, li{
  list-style-type: none;
}

a.nav-tag {
  padding-left: 0 !important;
}

#tableheader {
  font-size: 2.5em;
  position: relative;
  text-align: center;
  margin-bottom: 0;
  white-space: nowrap;

}

@media only screen and (min-device-width : 480px) {
  #tableheader {
    font-size: 3em;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}



.classnotestitle {
  display: none;
}

@media only screen and (min-device-width : 480px) {
  .classnotestitle {
    font-family: 'BiotifBlack' !important;
    display: block;
    font-size: 2.3em;
    color: #CBCBCB;
    margin: 0;
  }
}




.field,
a,
input {
  font-family: 'BiotifBook' !important;
}

h5 {
  font-family: "BiotifBold";
  color: #818181;
}

h1,
th {
  font-family: 'BiotifBlack' !important;
}

th>h1 {
  background-color: white;
  color: black;

}

h2 {
  font-family: 'BiotifBold' !important;
}


  .notetitle {
    font-family: 'BiotifBold' !important;
    font-size: 1.5em;
    margin: 0;
  }


td {
  font-family: 'BiotifBook' !important;
  vertical-align: middle;
}

h1 {
  color: #FA7F1C;
}

.inst_and_partner {
  font-size: 1em;
  ;
}

.index-table-rows:hover {
  background-image: asset-url("orangenoise.png");
  background-size: 100px 100px;
  text-shadow: 0px 0px 14px #ffffff;
}

.d-sm-inline {
  font-family: 'BiotifBlack' !important;
  color: black !important;
}

.d-sm-inline .px-0:hover {
  color: black;
  background-color: none !important;
}

.d-sm-inline .px-0 {
  color: #FA7F1C;
}

.form-control {
  margin: 20px;
}

/* The sidebar menu */
.sidebar {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FCF2EB;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bottom-links {
  position: relative;
  bottom: 0;
  padding-bottom: 2vh;
  line-height: 4vh;
}


.nav-top-links {
  position: relative;
  top: 0;
  overflow-y: scroll;
  line-height: 4vh;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  display: inline;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #bd2727;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* The button used to open the sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: black;
  padding: 10px;
  border: none;
  background: none;
  padding-top: 5px;
}

#emptydiv{
font-size: 30px;
cursor: pointer;
color: black;
padding: 10px;
border: none;
background: none;
padding-top: 5px;
}

@media only screen and (min-device-width : 480px) {
  #emptydiv{
    display: none !important;
  }
}

@media only screen and (min-device-width : 480px) {
.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: black;
  padding: 10px;
  border: none;
  background: none;
  padding-top: 5px;
  margin-right: 140px;
}
}



@media only screen and (min-device-width : 480px) {
.user-box {
  width: 30vw;
  max-width: 500px;
}
}

.user-box>h2 {
  color: black;
}

.form-check {
  font-size: 12px;
}

#user_email,
#user_password, #user_password_confirmation {
   margin: 0;
   width: 80vw;
}


@media only screen and (min-device-width : 480px) {
#user_email,
#user_password, #user_password_confirmation  {
  margin: 0;
  width: 30vw;
  };
}

#user_password_confirmation {
  margin-bottom: 18px;
}

#user_password {
  margin-top: 15px;
  margin-bottom: 18px;
}

.button-box-sign>* {
  font-size: 15px;
}

.button-box-sign>input {
  width: 100px;
  margin: 10px 15px 20px 0;
}

.button-box-sign>a {
  color: #FA7F1C;
}

.button-box-sign>a:hover {
  color: black;
}

.button-box-sign {
  display: flex;
  flex-direction: column;
  width: 80vw;
  line-height: 2.5vh;
}

@media only screen and (min-device-width : 480px) {
.button-box-sign {
  display: flex;
  flex-direction: column;
  line-height: 2.5vh;
  width: 30vw;
}
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 10px;
  padding-top: 0 !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.sidebar a {
  font-size: 18px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
}



.sign-up-page-body {
  width: 100vw;
  height: 100vh;
  background-color: #FCF2EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.note-form-wrapper {
  display: flex;
  flex-direction: column !important;
}

@media only screen and (min-device-width : 480px) {
  .note-form-wrapper {
    width: 80vw;
    margin: 0 auto;
    background-color: white;
  }
}


.form_headers {
  flex-direction: column;
}

.form_headers>* {
  padding: 5px;
  text-align: left;
  width: 100%;
}

@media only screen and (min-device-width : 480px) {


  .form_headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .form_headers>* {
    padding: 20px;
    text-align: left;
    width: 25%;
  }


}


.form_headers>*>input {
  width: 100%;
  margin: 0;
  min-height: 5vh;
  font-family: 'BiotifBlack' !important;
  font-size: 1.6em;
}

label {
  font-family: 'BiotifBold';
  color: #cacaca;
  font-size: 1.5em;
}






.form_group {
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-device-width :480px){

  .form_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-device-width : 480px) {
  .form_group>* {
    padding: 20px;
    text-align: left;
    width: 50%;
  }
}

.form_group>*>textarea {
  width: 100%;
}



.form-group>textarea {
  width: 100%;

}


.note_pos_description,
.note_neg_description {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-device-width : 480px) {
  .note_neg_description{
    margin-left: 10px !important;
  }
}

// form2 submit button

input.btn {
  background-color: #FA7F1C;
  color: white;
  margin-top: 2vh;
}


#delete-note {
  background-color: #FA7F1C;
  color: white;
  margin-top: 2vh;
  width: auto;
}
  

.form_group>*>textarea {
  margin: 0;
  min-height: 20vh;
  font-family: 'BiotifBook' !important;
  font-size: 1.1em;
}

.tag_list_input {
  padding: 5px 0 5px 0 !important;
}

@media only screen and (min-device-width : 480px) {
  .tag_list_input {
    padding: 20px;
    text-align: left;
    width: 100%;
  }
}



.tag_list_input>*>input {
  margin: 0;
  min-height: 5vh;
  font-family: 'BiotifBold' !important;
  font-size: 1.2em;
}

#note_note_date {
  border: none;
  flex-direction: row-reverse;
  padding: 5px;
  font-size: 1.5em;
  min-height: 10vh;
  font-family: 'BiotifBold' !important;
}

.topnav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  width: 100%;
  height: 8vh;
  background-image: asset-url("noise.png");
  background-size: 100px 100px;
}

@media only screen and (min-device-width : 480px) {
.topnav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  width: 100%;
  height: 10vh;
  margin-bottom: 3vh;
  background-image: asset-url("noise.png");
  background-size: 100px 100px;
}
}

.nav-tag a {
  font-size: 1em;
}


#fixedheight-table {
  table-layout: fixed;
}

#fixedheight-table td, #fixedheight-table td div {
  height: 6vh;
  min-height: 6vh;
  overflow: hidden;
}

.tag-holder {
  display: inline-block;
}

.tag-badge{
  margin: 0 2px 0 2px;
  padding: 1px 2px 1px 2px;
  border: none;
  background-color: white;
  font-family: 'BiotifBold';
}
